In [ ]:
#FA24-BBD-039
#LAJEEN ADNAN

In [38]:
#QUESTION NO.1
class person:
    def __init__(self,name,age,city):
      self.name = name
      self.age = age
      self.city = city
    def __str__(self):
        return f"{self.name},{self.age},{self.city}"
        
person_instance= person("alice", 30, "new york")

print(person_instance)

alice,30,new york

In [44]:
#QUESTION NO.2
class car:
    def __init__(self, make, model , year):
         self.make = make
         self.model = model
         self.year = year

car = car("Honda", "Civic", 2021)

print(car.make)
print(car.model)
print(car.year)

Honda
Civic
2021

In [66]:
#QUESTION NO.3
class circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14* self.radius**2

    def circumference (self):
        return 2* 3.14* self.radius

circle = circle(5)

print("Area:", circle.area())
print("Circumference:", circle.circumference())

Area: 78.5
Circumference: 31.400000000000002

In [68]:
#QUESTION NO. 4
class rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2*(self.length + self.width)

rectangle = rectangle(10,5)

print("Area:" , rectangle.area())
print("Perimeter:", rectangle.perimeter())

Area: 50
Perimeter: 30

In [70]:
#QUESTION NO.5 
class student:
    def __init__(self, name, roll_number, marks):
        self.name = name
        self.roll_number = roll_number
        self.marks = marks

    def calculate_average(self):
        if not self.marks:
            return 0
        return sum(self.marks) / len(self.marks)

student = student("Alice", 101, [85, 90, 78])

print(f"Name:{student.name}, Roll Number: {student.roll_number}")
print("Average Marks:", student.calculate_average())

Name:Alice, Roll Number: 101
Average Marks: 84.33333333333333

In [72]:
#QUESTION NO. 6
class book:
    def __init__(self, title, author, publication_year):
        self. title = title
        self.author = author
        self. publication_year = publication_year

book = book("1984", "George Orwell", 1949)

print("Title:", book.title)
print("Author:", book.author)
print("Publication Year:", book.publication_year)

Title: 1984
Author: George Orwell
Publication Year: 1949

In [74]:
#QUESTION NO.7
class employee:
    def __init__(self, name, salary, designation):
        self.name = name
        self.salary = salary
        self.designation = designation

employee = employee("Ali", 50000, "Software Engineer")

print("Name:", employee.name)
print("Salary:", employee.salary)
print("Designation:", employee. designation)

Name: Ali
Salary: 50000
Designation: Software Engineer

In [84]:
#QUESTION NO.8
class bank:
    def __init__(self, name, account_number, balance=0):
        self.name = name
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        if amount > 0:
            self.balance +=amount
            print(f"Deposited {amount}. New balance: {self.balance}")
        else: 
            print("Deposit amount must be positive.")
    def withdraw(self, amount):
        if amount > 0 and amount <= self.balance:
            self.balance -= amount
            print(f"Withdraw {amount}. New balance: {self.balance}")
        else:
            print("Invalid withdrawal amount or insufficient funds.")

account = bank("Ali", 123456789, 500)

account.deposit(2000)

account.withdraw(100)

account.withdraw(700)

Deposited 2000. New balance: 2500
Withdraw 100. New balance: 2400
Withdraw 700. New balance: 1700